span {
  white-space: pre-wrap;
}

.event-icon {
  width: 70px;
  height: 70px;
}

.navigate-index {
  float: left;
  width: 90%;
  max-width: 100%;
}

#map-canvas span {
  white-space: nowrap;
}

/* styles for new.html page */

#form-error-card {
  border-color: red;
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

#form-error-card > .item-text-wrap{
  color: red;
}

.error-input {
  border-color: red;
  border-style: solid;
  border-width: 2px;
}

/* styles for sort selector on main page */

.index-select {
  padding-bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}

.index-select select {
  width: 100%;
  max-width: 100%;
  direction: rtl;
}

/* style for event type on new event page */

.event-type {
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}

.event-type select {
  direction: ltr;
  width: 100%;
  max-width: 100%;
}

/* sytles for show.html page */

#event-divider {
  font-weight: bold;
  font-size: 1em;
  white-space: nowrap;
  height: 1.1em;
}

#showpage-heading {
  color: #666666;
}


#vote-lbl {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* styles for search and filter bars */

.top-bar {
  position:fixed; 
  z-index:1000;
}

.bot-bar {
  position:fixed; 
  z-index:999; 
  top:40px;
}


.search-bar {
  width:70%;
  -webkit-box-flex: initial;
  -webkit-flex: initial;
  -moz-box-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding-left: 15px;
  background: #eee;
  margin-right: 0px;
  padding-right: 0px;

}

.clear-btn {
  width: 6.5%;
}

.filter-btn {
  width: 29%;
}