span {
  white-space: pre-wrap;
}

#map-canvas span {
  white-space: nowrap;
}

#form-error-card {
  border-color: red;
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

#form-error-card > .item-text-wrap{
  color: red;
}

.error-input {
  border-color: red;
  border-style: solid;
  border-width: 2px;
}