<div class="formDiv">
<super-navigate-back  ng-click="cancel()"> 
  <button class="button button-block button-positive">Cancel</button>
</super-navigate-back>

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">EventName</span>
    <input type="text" ng-model="event['EventName']">
  </label>
<div class="item item-divider"><p>What:</p>  
   <label class="item item-input item-stacked-label">
    <span class="input-label">Comments</span>
    <input type="text" ng-model="event['Comments']">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">PosterName</span>
    <input type="text" ng-model="event['PosterName']">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Contact</span>
    <input type="text" ng-model="event['Contact']">
  </label>
  </div>
  <div class="item item-divider"><p>Where:</p>  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Room</span>
    <input type="text" ng-model="event['Room']">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Street</span>
    <input type="text" ng-model="event['Street']">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">City</span>
    <input type="text" ng-model="event['City']">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">State</span>
    <input type="text" ng-model="event['State']">
  </label>
  </div>
  
  
  
   <div class="item item-divider"><p>When:</p> 
    <label class="item item-input item-stacked-label">
    <span class="input-label">StartTime</span>
    <input type="text" ng-model="event['StartTime']">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">EndTime</span>
    <input type="text" ng-model="event['EndTime']">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Month</span>
    <input type="text" ng-model="event['Month']">
  </label>   
  <label class="item item-input item-stacked-label">
    <span class="input-label">Day</span>
    <input type="text" ng-model="event['Day']">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Year</span>
    <input type="text" ng-model="event['Year']">
  </label>
  </div>


  <br>
</div>
<super-navigate-back> 
  <button class="button button-block button-positive">Save</button>
</super-navigate-back>
</div>
