<div class="formDiv">
<super-navigate-back  ng-click="cancel()">
  <button class="button button-block button-positive">Cancel</button>
</super-navigate-back>

<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Event Name" ng-model="event['EventName']">
  </label>
  <div class="item item-divider">What</div>
  <label class="item item-input">
    <input type="text" placeholder="Comments" ng-model="event['Comments']">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Poster Name" ng-model="event['PosterName']">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Contact" ng-model="event['Contact']">
  </label>
  <div class="item item-divider">When</div>
  <label class="item item-input">
    <input id="datechooser" type="date" ng-model="event['Month']">
  </label>
  <label class="item item-input">
    <input id="starttime" type="time" ng-model="event['StartTime']">
  </label>
  <label class="item item-input">
    <input id="endtime" type="time" ng-model="event['EndTime']">
  </label>
  <div class="item item-divider">Where</div>
  <label class="item item-input">
    <input type="text" placeholder="Room" ng-model="event['Room']">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Street" ng-model="event['Street']">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="City" ng-model="event['City']">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="State" ng-model="event['State']">
  </label>

</div>
<super-navigate-back>
  <button class="button button-block button-positive">Save</button>
</super-navigate-back>
</div>
