<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Clicks
    </super-navbar-title>
    <super-navbar-button id="add" side="right" location="event#new"> +
    </super-navbar-button>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="events.length == 0">

      <super-navigate location="event#show" data-params-id="{{ event.id }}" ng-repeat="event in events">
        <li class="item" >
          <h2 ng-bind="event['EventName']"></h2>
          <h2 ng-bind="event['Comments']"></h2>
          <p ng-bind="event['PosterName']"></p>
          <p><span ng-bind="event['Month']"></span> <span ng-bind="event['Day']"></span> <span ng-bind="event['Year']"></span></p>
          <p><span ng-bind="event['StartTime']"></span> - <span ng-bind="event['EndTime']"></span></p>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="events.length == 0" class="assertive padding">
      No events found. Create one?
    </h4>
  </div>
</div>