<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Clicks
    </super-navbar-title>
    <super-navbar-button id="add" side="right"location="event#new">+</super-navbar-button>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">

    <div class="row">
      <div class="col col-60">
        <!-- filter div -->
      
      </div>
      <div class="col col-40">
        <div class="item-select sort">
          <select ng-model="predicate">
            <option value="EventName">Name</option>
            <option value="StartDate">Time</option>
          </select>
        </div>
      </div>
    </div>

    <ul class="list" ng-hide="events.length == 0">

    <div ng-repeat="event in events | orderBy:predicate" >
      <li>
        <div class="item">
          
          
          <super-navigate location="event#show" data-params-id="{{ event.id }}">
            <div class="item-thumbnail-left">
              <img style= "position:absolute; top:35px; border-style: solid; border-width: 4px; border-color: #919191;"class="event-icon" src="/svg/{{event['EventType'] || 'Event'}}.svg">
              <div style="width:180px;word-break:break-word;"> 
              <h2 style="position:relative; right:20px;"><span ng-bind="event['EventName']"></h2>
              <p style= "position:relative; right:20px;">Time: <span ng-bind="event['StartTimeText']"></span> - <span ng-bind="event['EndTimeText']"></span></p>
              <p style= "position:relative; right:20px;">Date: <span ng-bind="event['StartDateText']"></span><span ng-bind="event['EndDateText']"></span></p>
          <!--     <p style= "position:relative; right:20px;"><span ng-bind="event['Vote']"></span> Likes</p> -->
          <p style= "position:relative; right:20px;">{{event.Vote}} Likes</p>
              </div>
            </div>
          </super-navigate>
          <super-button style="position:absolute; width:50px;right:10px;top:30px; font-size:30px; background-color: #1596f7; border-color: #1596f7;" class="button button-small button-assertive" ng-click="up(event.id)">&#128077</super-button>
          <super-button style="position:absolute; width:50px;right:10px;top:70px; font-size:30px; background-color: #ff0000; border-color: #ff0000;" class="button button-small button-positive" ng-click="down(event.id)">&#128078</super-button>
        </div>
      </li>
    </div>


    </ul>

    <h4 ng-show="events.length == 0" class="assertive padding">
      No events found. Create one?
    </h4>
  </div>
</div>