<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Clicks
    </super-navbar-title>
    <super-navbar-button id="add" side="right" location="event#new"> +
    </super-navbar-button>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">

    <div class="row">
      <div class="col col-60">
        <!-- filter div -->
      </div>
      <div class="col col-40">
        <div class="item-select sort">
          <select ng-model="predicate">
            <option value="EventName">Name</option>
            <option value="DateTime">Time</option>
          </select>
        </div>
      </div>
    </div>

    <ul class="list" ng-hide="events.length == 0">

      <super-navigate location="event#show" data-params-id="{{ event.id }}" ng-repeat="event in events | orderBy:predicate">
        <li class="item item-thumbnail-left" >
          <img class="event-icon" src="/svg/{{event['EventType'] || 'Event'}}.svg">
          <h2 ng-bind="event['EventName']"></h2>
          <p><span ng-bind="event['Month']"></span> <span ng-bind="event['Day']"></span> <span ng-bind="event['Year']"></span></p>
          <p><span ng-bind="event['StartTime']"></span> - <span ng-bind="event['EndTime']"></span></p>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="events.length == 0" class="assertive padding">
      No events found. Create one?
    </h4>
  </div>
</div>