/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/


navigation-bar {
  background-color: #8a6de9;
  color: #ffffff;
}

navigation-bar title {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  font-family: Verdana, Geneva, sans-serif;;
}

navigation-bar button, navigation-bar back-bar-button {
  color: #8a6de9;
  font-weight: 300;
}

navigation-bar button{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left:40px;

}


tab-bar {
  background-color: #ffffff;
  border-top: 1px #d8d8d8 solid;
}


tab-bar tab-bar-item {
  color: #b0b1b4;
  font-family: "Avenir";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #8a6de9;
}

tab-bar-item#profile {
  background-image: url(icons/user.svg);
}

tab-bar-item#index {
  background-image: url(icons/click.svg);
}

tab-bar-item#map {
  background-image: url(icons/Globe.svg);
  padding-bottom: 4px;
}

